doctype html
html(lang="en")
  head
    title Login APP
    style
      include ./stylesheets/style.css
    script
      include ./js/login.js

body
  div#welcome
    p(name="welcome-text") Welcome to Login APP!
  div#loginform
    form(name="login", action="/login", method="post")
      p
       input(type="text", name="username", placeholder="User Name" required)
      p
       input(type="password", name="password", placeholder="Password" required)
      p
       button(type="submit" onclick="validate()") Login

  p #{message}
